body{
    background:#68cdd5;
    font-size:62.5%;
}
.arrows {
    width: 100%;
}
.return img {
    width: 2rem;
}
.content {
    width: 80%;
    margin: 5% auto;
    text-align： center；
}
.content .logo {
    width: 6rem;
    margin-top:5%;
    margin-left:50%;
    transform: translate(-50%);
}
.content .logo img {
    width: 6rem;
}
.content p {
    width: 100%;
    font-size: 0.9rem;
    color:white;
    line-height:1.5rem;
    letter-spacing: 0.1rem;
    font-family: "微软雅黑 Light";
    margin: 10% 0;
    clear: right;
}
.footer {
    width: 90%;
    margin: 15rem auto;
}
.foot-left{
    float: left;
    width: 3rem;
    
}
.foot-right {
    float: right;
    width: 3rem;
   
}
.foot-left img,.foot-right img {
    width:3rem;
}
.footer p {
    font-size: 0.9rem;
    color:white;
}
